<%- include("template/cabecera", {tituloWeb: 'Pagina de servicios'}) %>

    <h1 class="text-primary">Titulo de mi sitio Web index</h1>
    <h2><%- titulo %></h2>

    
    <%- include("template/footer")%>